# Node / npm
node_modules/
npm-debug.log
dist/

# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
build/

# Foundry / Solidity / Hardhat
out/
cache/
artifacts/

# OS / IDE / Secrets
.env
.env.*
.DS_Store
.vscode/
.idea/
